<% for(var i = 0; i < tasks.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= tasks[i].title %></td>
    <td><%= tasks[i].description %></td>
    <td><%= tasks[i].targetDate.substr(0,10).split("-").reverse().join("-")%></td>
    <td><%= tasks[i].status %></td>
    <td>
        <a href="/update-task?id=<%=tasks[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient">Edit</span>
        </a>
         |
        <a class="btn border-shadow delete" data-id=<%=tasks[i]._id%> >
            <span class="text-gradient">Delete</span>
        </a>
    </td>
</tr>
<% } %>